<nav class="nav">
  <ul class="nav-list" [ngClass]="{ open: show }" *ngIf="!loading && !isMenuInBuildProgress">
    <li
      class="nav-item"
      *ngFor="let option of menuOptions"
      [routerLink]="[option.path]"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
    >
      <figure class="nav-figure">
        <mat-icon class="nav-img">{{ option.icon }}</mat-icon>
      </figure>
      <article class="nav-show">
        <p class="nav-name">{{ option.name }}</p>
      </article>
    </li>

    <li class="nav-item nav-item-theme">
      <figure class="nav-figure">
        <mat-icon class="nav-img">{{ themeIcon }}</mat-icon>
      </figure>
      <article class="nav-show">
        <mat-slide-toggle (toggleChange)="toggleTheme()"></mat-slide-toggle>
      </article>
    </li>

    <li class="nav-item nav-item-settings" routerLink="/preferences">
      <figure class="nav-figure">
        <mat-icon class="nav-img">settings</mat-icon>
      </figure>
      <article class="nav-show">
        <p class="nav-name">Settings</p>
      </article>
    </li>

    <li class="nav-item nav-item-user">
      <figure class="nav-figure">
        <img
          src="https://img.freepik.com/premium-vector/animal-trainer-vector-character-flat-style_1033579-57766.jpg?w=740"
          alt="profile-picture"
          class="nav-img nav-img-avatar"
        />
      </figure>

      <article class="nav-show">
        <div class="nav-name nav-name-user">
          <p class="nav-username">{{ userName }}</p>
          <p class="nav-account">Free</p>
        </div>
      </article>
    </li>
  </ul>

  <!-- Menu skeleton loading only -->
  <ul class="nav-list loading" [ngClass]="{ open: show }" *ngIf="loading || isMenuInBuildProgress">
    <li class="nav-item">
      <figure class="nav-figure"></figure>
      <article class="nav-show">
        <p class="nav-name"></p>
      </article>
    </li>

    <li class="nav-item nav-item-theme">
      <figure class="nav-figure"></figure>
      <article class="nav-show"></article>
    </li>

    <li class="nav-item nav-item-settings">
      <figure class="nav-figure"></figure>
      <article class="nav-show"></article>
    </li>

    <li class="nav-item nav-item-user">
      <figure class="nav-figure"></figure>

      <article class="nav-show">
        <div class="nav-name nav-name-user">
          <p class="nav-username"></p>
          <p class="nav-account"></p>
        </div>
      </article>
    </li>
  </ul>
</nav>
