@import './../../assets/styles/variables.scss';

#layout-todo {
  width: 100% !important;
  position: relative;

  mat-toolbar {
    color: white !important;
    height: $toolbar-height;
  }

  #main-container {
    display: flex;
    width: 100%;

    #content {
      flex-grow: 1;
      // La altura maxima son 100 - la altura del toolbar, para que los espacios cuadre
      max-height: calc(100vh - $toolbar-height);
      height: calc(100vh - $toolbar-height);
      overflow-y: auto;
      padding: 0 10px 10px 10px;
    }
  }
}
